*.iml
/backend/.idea
venv/
/backend/venv
__pycache__/
/backend/__pychache__/
*.py[cod]
/backend/*.py[cod]
*.log
/backend/*.log


*.iml
.idea/
/backend/*.iml
/backend/.idea/

.DS_Store
Thumbs.db
/backend/.DS_Store
/backend/Thumbs.db

.env
*.env
/backend/.env

*.osm.pbf
/graphhopper-data
roads_cache.json
/backend/roads_cache.json
blocked_area.geojson

graph-cache/
default-gh/
